<li class="nav-item">
    <a class="@(ViewContext.RouteData.Values["controller"].ToString()=="Resident"?"nav-active":"") nav-link" asp-area="" asp-controller="Resident" asp-action="Index">Residents</a>
</li>