@model CareHomeInfoTracker.Models.Resident

@{
    ViewData["Title"] = "Create";
}


<h4>Resident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResImage"> Photo</label>
                <input asp-for="ResImage" type="file" accept="image/*"/>
                <span asp-validation-for="ResImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomNum" class="control-label"></label>
                <input asp-for="RoomNum" class="form-control" />
                <span asp-validation-for="RoomNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BedNum" class="control-label"></label>
                <input asp-for="BedNum" class="form-control" />
                <span asp-validation-for="BedNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
       // $("span[data-valmsg-for='ResImage']").text("Checking");
       // $("span[asp-validation-for='resImage']").show();
    </script>
}
