@model IEnumerable<CareHomeInfoTracker.Models.WeightHistory>

@{
    ViewData["Title"] = "IndividualChart";
}

<h1>IndividualChart</h1>

<div class="table-container">
    <table class="table">

        <tr>
            <th class="table-stick">
                @Html.DisplayNameFor(model => model.RecordedDate)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.RecordedDate)
                </td>
            }
        </tr>

        <tr>
            <th class="table-stick">
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
            }
        </tr>

    </table>
</div>

